<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideDock</string>
			<key>label</key>
			<string>Make Dock Invisible</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Dock Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>id</key>
			<string>dockTransparency</string>
			<key>key</key>
			<string>dockTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Dock Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
            		<string>com.zachary7829.springliciousprefs</string>
			<key>detail</key>
           		<string>PSListItemsController</string>
            		<key>key</key>
            		<string>color_pref</string>
            		<key>label</key>
            		<string>Dock Color</string>
            		<key>validTitles</key>
            		<array>
				<string>Default</string>
                			<string>Red</string>
                			<string>Blue</string>
                			<string>Yellow</string>
                			<string>Orange</string>
                			<string>Magenta</string>
                			<string>White</string>
                			<string>Light Gray</string>
                			<string>Dark Gray</string>
                			<string>Green</string>
                			<string>Gray</string>
                			<string>Clear</string>
                			<string>Brown</string>
                			<string>Cyan</string>
                			<string>Purple</string>
                			<string>Light Text Color</string>
                			<string>Black</string>
            		</array>
            		<key>validValues</key>
            		<array>
				<string>Default</string>
                			<string>redColor</string>
                			<string>whiteColor</string>
                			<string>yellowColor</string>
                			<string>orangeColor</string>
                			<string>magentaColor</string>
                			<string>whiteColor</string>
                			<string>lightGrayColor</string>
                			<string>darkGrayColor</string>
                			<string>greenColor</string>
                			<string>grayColor</string>
                			<string>clearColor</string>
                			<string>brownColor</string>
                			<string>cyanColor</string>
                			<string>purpleColor</string>
                			<string>lightTextColorr</string>
                			<string>blackColor</string>
            		</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Page Dots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHidePageDots</string>
			<key>label</key>
			<string>Make Page Dots Invisible</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideStatusBar</string>
			<key>label</key>
			<string>Hide Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideVPN</string>
			<key>label</key>
			<string>Hide VPN In Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideBatteryCharge</string>
			<key>label</key>
			<string>Disable Battery Charge Symbol</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isSpoofBatteryPercent</string>
			<key>label</key>
			<string>Enable Battery Spoofing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Spoofed Battery Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>5</real>
			<key>id</key>
			<string>spoofBattery</string>
			<key>key</key>
			<string>spoofBattery</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Spoof Battery Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideWifiConnection</string>
			<key>label</key>
			<string>Disable Wifi Symbol</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Status Bar Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>id</key>
			<string>statusBarTransparency</string>
			<key>key</key>
			<string>statusBarTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Status Bar Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Folder Background Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>id</key>
			<string>folderBackgroundTransparency</string>
			<key>key</key>
			<string>folderBackgroundTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Folder Background Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
            		<string>com.zachary7829.springliciousprefs</string>
			<key>detail</key>
           		<string>PSListItemsController</string>
            		<key>key</key>
            		<string>folder_row_pref</string>
            		<key>label</key>
            		<string>Folder Icon Rows</string>
            		<key>validTitles</key>
            		<array>
				<string>Default</string>
                			<string>4</string>
                			<string>5</string>
                			<string>6</string>
            		</array>
            		<key>validValues</key>
            		<array>
				<string>Default</string>
                			<string>4</string>
                			<string>5</string>
                			<string>6</string>
            		</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
            		<string>com.zachary7829.springliciousprefs</string>
			<key>detail</key>
           		<string>PSListItemsController</string>
            		<key>key</key>
            		<string>folder_column_pref</string>
            		<key>label</key>
            		<string>Folder Icon Column</string>
            		<key>validTitles</key>
            		<array>
				<string>Default</string>
                			<string>4</string>
                			<string>5</string>
                			<string>6</string>
            		</array>
            		<key>validValues</key>
            		<array>
				<string>Default</string>
                			<string>4</string>
                			<string>5</string>
                			<string>6</string>
            		</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideFolderTitle</string>
			<key>label</key>
			<string>Hide Folder Title</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Lock Screen Date Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>id</key>
			<string>lockScreenDateTransparency</string>
			<key>key</key>
			<string>lockScreenDateTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Lock Screen Date Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideDNDBanner</string>
			<key>label</key>
			<string>Hide Do Not Disturb Banner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Lock Screen Notifications Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>id</key>
			<string>lockScreenNotificationsTransparency</string>
			<key>key</key>
			<string>lockScreenNotificationsTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Lock Screen Notifications Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icons</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideAppLabels</string>
			<key>label</key>
			<string>Hide App Labels</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideOffloadIcon</string>
			<key>label</key>
			<string>Hide Offload Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideTestflightAppDots</string>
			<key>label</key>
			<string>Hide Testflight App Dots</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Notification Badge Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>1</real>
			<key>id</key>
			<string>notificationBadgeTransparency</string>
			<key>key</key>
			<string>notificationBadgeTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Notification Badge Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Icon Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>10</real>
			<key>id</key>
			<string>iconTransparency</string>
			<key>key</key>
			<string>iconTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Icon Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>enabled</key>
			<true />
			<key>label</key>
			<string>Control Center Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>100</real>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>10</real>
			<key>id</key>
			<string>controlCenterTransparency</string>
			<key>key</key>
			<string>controlCenterTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Control Center Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideVolume</string>
			<key>label</key>
			<string>Hide Volume Slider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reload SpringBoard</string>
			<key>action</key>
			<string>reloadSpringboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My GitHub</string>
			<key>action</key>
			<string>openGitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My Reddit</string>
			<key>action</key>
			<string>openReddit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My Twitter</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Springlicious</string>
</dict>
</plist>
