<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Springlicious</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideDock</string>
			<key>label</key>
			<string>Make Dock Invisible</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideDockBackground</string>
			<key>label</key>
			<string>Hide Dock Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHidePageDots</string>
			<key>label</key>
			<string>Make Page Dots Invisible</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideVPN</string>
			<key>label</key>
			<string>Hide VPN In Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideBatteryCharge</string>
			<key>label</key>
			<string>Disable Battery Charge Symbol</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isSpoofBatteryPercent</string>
			<key>label</key>
			<string>Spoof Battery Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideWifiConnection</string>
			<key>label</key>
			<string>Disable Wifi Symbol</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideDNDSymbol</string>
			<key>label</key>
			<string>Hide Do Not Disturb Symbol</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>100</integer>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>0</real>
			<key>id</key>
			<string>folderBackgroundTransparency</string>
			<key>key</key>
			<string>folderBackgroundTransparency</string>
			<key>showValue</key>
            		<true/>
			<key>isSegmented</key>
            		<false/>
			<key>label</key>
			<string>Folder Background Transparency</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableHideFolderIconBackground</string>
			<key>label</key>
			<string>Hide Folder Icon Background</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableFiveIconRow</string>
			<key>label</key>
			<string>Five Icon Folder Row</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.zachary7829.springliciousprefs</string>
			<key>key</key>
			<string>isEnableFiveIconColumn</string>
			<key>label</key>
			<string>Five Icon Folder Columns</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
            		<string>com.zachary7829.springliciousprefs</string>
			<key>detail</key>
           		<string>PSListItemsController</string>
            		<key>key</key>
            		<string>color_pref</string>
            		<key>label</key>
            		<string>Color</string>
            		<key>validTitles</key>
            		<array>
				<string>Default</string>
                			<string>Red</string>
                			<string>Blue</string>
                			<string>Yellow</string>
                			<string>Orange</string>
                			<string>Magenta</string>
                			<string>White</string>
                			<string>Light Gray</string>
                			<string>Dark Gray</string>
                			<string>Green</string>
                			<string>Gray</string>
                			<string>Clear</string>
                			<string>Brown</string>
                			<string>Cyan</string>
                			<string>Purple</string>
                			<string>Light Text Color</string>
                			<string>Black</string>
            		</array>
            		<key>validValues</key>
            		<array>
				<string>Default</string>
                			<string>Red</string>
                			<string>Blue</string>
                			<string>Yellow</string>
                			<string>Orange</string>
                			<string>Magenta</string>
                			<string>White</string>
                			<string>Light Gray</string>
                			<string>Dark Gray</string>
                			<string>Green</string>
                			<string>Gray</string>
                			<string>Clear</string>
                			<string>Brown</string>
                			<string>Cyan</string>
                			<string>Purple</string>
                			<string>Light Text Color</string>
                			<string>Black</string>
            		</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reload SpringBoard</string>
			<key>action</key>
			<string>reloadSpringboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My GitHub</string>
			<key>action</key>
			<string>openGitHub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My Reddit</string>
			<key>action</key>
			<string>openReddit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My Twitter</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Springlicious</string>
</dict>
</plist>
